<form action="/tasks/add" method="POST">

  <div>
    <label for="title">escribir un title </label>
    <input type="text" name="title" placeholder="title" id="title" />
  </div>

  <div>
    <label for="description">Dar una description </label>
    <textarea
      name="description"
      placeholder="Description"
      id="description"
    ></textarea>
  </div>

  <button>subir</button>

</form>